<main class="p-5">
    <h1>
        Hello! <i class="bi bi-7-circle-fill"></i></h1>
    <button class="btn btn-primary">
        <i class="bi bi-airplane-engines-fill"></i>
    </button>
    <i class="bi bi-airplane-engines-fill"></i>
    {{!-- <div>
        <h1><i class="fa-solid fa-wand-magic-sparkles" style="color: #0b57da;"></i></h1>
    </div> --}}

    <div>
        <img src="/svg/slack.svg">
    </div>
</main>