<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Hello!</h2>
    <h3 class="text-capitalize">World world!</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-2">Hello!</div>
    <div class="display-3">World!</div>

    <hr>

    <div class="text-muted text-end">
        Some new <span class="display-5">text</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>
    <button class="btn btn-success">
        Test button
    </button>

    <hr>

    <a href="#" class="btn btn-primary">Text</a>
    <a class="text=warning">Text</a>

    <hr>

    <p class="text-primary">Text</p>

    <hr>

    <button class="btn btn-primary">Text 0</button>
    <button class="btn btn-outline-primary">Text 1</button>
    <button class="btn btn-outline-danger">Text 2</button>
    <button class="btn btn-outline-warning">Text 3</button>

    <hr>

    <button class="btn btn-primary btn-lg">Text 0</button>
    <button class="btn btn-outline-primary btn-sm">Text 1</button>

    <hr>

    <div class="card">
        <div class="card-body">
            Card for some text
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">Text 0</button>
            <button class="btn btn-outline-primary btn-sm">Text 1</button>
        </div>
    </div>

</main>